<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <style>
            .error {
                color:red;
            }
    </style>
</head>
<body>
    <div class='wrapper text-center'>
        <h1>Counting Significant Figures</h1>
        <h2>Identify the number of significant figures in: {{value}}</h2>
        {% with messages = get_flashed_messages(with_categories=True) %} 
        <form action="/countingsf" method="post">
            <input name="answer" type="text" value="{{answer}}"></br>
            {% for category,message in messages %}
                <span class='{{category}}'>{{message}}</span>
            {% endfor %}
            </br></br>
            <input type="submit" value="Check Answer">
            <input name="actualSigFigs" type="hidden" value="{{sigFigs}}">
            <input name="value" type="hidden" value="{{value}}">
        </form>
        {% endwith %}
        <a class="btn btn-primary" href="countingsf" role="button">Continue</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>    