{% extends "base.html" %}

{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Significant Figures</u></h1>
        <h2>Select a practice option:</h2>
        <div class=btn-group-vertical>
            <a class="btn btn-primary" href="countingsf" role="button">Counting Significant Figures</a>
            <a href="roundingsf" class="btn btn-primary" role="button">Rounding to Significant Figures</a>
            <a href="sfcalcs" class="btn btn-primary" role="button">Calculations with Significant Figures</a>
        </div>
    </div>
{% endblock %}  