{% extends "roundingtutorialbase.html" %}

{% block content %}
    <div class="container-fluid card border-0">
        <div class="wrapper text-center card-header" id="headingOne">
            <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 style="color:black"><u>Ground Rules (Click to reveal)</u>:</h2>
            </button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    <figure class="figure">
                        <img src="{{url_for('static', filename='NoFractions.png')}}" class="figure-img img-fluid" style="width:50%; height:50%">
                    </figure>
                </div>
                <div class="col-3 border">
                    <figure class="figure">
                        <img src="{{url_for('static', filename='NoRepeatBars.png')}}" class="figure-img img-fluid" style="width:60%; height:60%">
                    </figure>
                </div>
                <div class="col-3 border">
                    <p style="font-size:2vw">All measurements and calculated results MUST be expressed in decimal form with a LIMITED number of sig figs.</p>
                </div>
            </div>
        </div> 
    </div></br>

    <div class="container-fluid card border-0">
        <div class="wrapper text-center card-header" id="headingTwo">
            <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h2 style="color:green"><u>Why?</u></h2>
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    1/2 cm = 0.5 cm?  NOPE! (video)
                </div>
                <div class="col-3 border">
                    <figure class="figure">
                        <img src="{{url_for('static', filename='ThereIsADifference.png')}}" class="figure-img img-fluid">
                    </figure>
                </div>
                <div class="col-3 border">
                        <p style="font-size:2vw">There IS a difference...</p>
                </div>
            </div></br>
            <div class="row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    No repeat bars video
                </div>
                <div class="col-3 border">
                    Error/variance examples (image)
                </div>
                <div class="col-3 border">
                        <p style="font-size:2vw">Big Ideas text</p>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}