{% extends "base.html" %}

{% block content %}
    <div class='wrapper text-center'>
        <h1><u>Round to the Requested Number of Significant Figures</u></h1>
        <h2>Round {{value}} to {{sigFigs}} significant figures.</h2>
        <p style="font-size: 16pt">(Hit 'Return' or 'Enter' to check your answer)</p>
        {% with messages = get_flashed_messages(with_categories=True) %} 
        <form action="/roundingsf" method="post">
            <label for "answer" style="font-size: 14pt">Answer: </label>
            <input name="answer" type="text" value="{{answer}}"></br>
            {% for category,message in messages %}
                <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
            {% endfor %}
            </br></br>
            <input name="value" type="hidden" value="{{value}}">
            <input name="sigFigs" type="hidden" value="{{sigFigs}}">
        </form>
        {% endwith %}
        </br>
        <a class="btn btn-primary" href="roundingsf" role="button">Next Practice Number</a>
        </br></br>
        <div>
            <a href='/'>Main Menu</a>
        </div>
    </div>
{% endblock %}