{% extends "roundingtutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2' style="color:brown"><u>Level 2 Examples</u>:</h2>
    <ul style="font-size:1.75vw" class="ml-2">
        <li>Since zeros may or may not be significant, we need to know how to deal with them after rounding.</li><hr>
        <li>
            Example #3: [PROMPT]
            <div class="container-fluid">
                <div class="row justify-content-center wrapper text-center">
                    <div class="col-4 border">
                        Rouding video tutorial.
                    </div>
                    <div class="col-4 border wrapper text-left">
                        <u style="color:green">Steps:</u>
                        <ol>
                            <li style="color:blue">Identify the first 3 sig figs in the value.</li>
                            <li style="color:red">Look at the next digit in the number to determine if we round up or down.</li>
                            <li>Round and decide how many zeros must be added. (Enter your answer in the box.)</li>
                        </ol>
                    </div>
                    <div class="col-3 border">
                        2376.14 mL
                        <form action="/roundingtutoial2" method="post">
                            <div class="form-inline form-group">
                                <input class="form-control ml-5" name = "5SigFigs" id="5SigFigs" value="{{roundedAnswer}}"> mL
                                {% for category,message in messages %}
                                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                                {% endfor %}
                            </div>
                            <input class="btn btn-success btn-sm" type="submit" value="Check...">
                        </form>
                    </div>
                </div> 
            </div>
            </br>
            <div class="container wrapper text-center">
                <table class="table table-bordered text-center" style="font-size:1.5vw">
                    <thead>
                        <tr>
                        <th scope="col">Original Value</th>
                        <th scope="col">3 sig figs</th>
                        <th scope="col">2 sig figs</th>
                        <th scope="col">1 sig fig</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">2376.14 mL</th>
                            <td>--- mL</td>
                            <td>-- mL</td>
                            <td>- mL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li><hr>
        <li>
            Example #4: [PROMPT] + "Try" button
            <div class="container-fluid wrapper text-center">
                <form action="/roundingtutoial2" method="post" class = "form-inline">
                    <table class="table table-bordered text-center" style="font-size:1.5vw">
                        <thead>
                            <tr>
                            <th scope="col">Original Value</th>
                            <th scope="col">3 sig figs</th>
                            <th scope="col">2 sig figs</th>
                            <th scope="col">1 sig fig</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="form-group">
                                    <th scope="row">0.09983 g</th>
                                        <td><input class="form-control" name = "3SigFigs" id="3SigFigs" style="width:125px; font-size:16pt"> g</td>
                                        <td><input class="form-control" name = "2SigFigs" id="2SigFigs" style="width:125px; font-size:16pt"> g</td>
                                        <td><input class="form-control" name = "1SigFig" id="1SigFig" style="width:125px; font-size:16pt"> g</td>
                                        <td><input class="btn btn-success" type="submit" value="Check..."></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </li>
    </ul>
{% endblock %}