{% extends "roundingtutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-center mr-5'><u>Ground Rules</u>:</h2>
    <div class="container-fluid">
        <div class="row justify-content-center wrapper text-center">
            <div class="col-3 border">
                <figure class="figure">
                    <img src="{{url_for('static', filename='NoFractions.png')}}" class="figure-img img-fluid" style="width:50%; height:50%">
                </figure>
            </div>
            <div class="col-3 border">
                <figure class="figure">
                    <img src="{{url_for('static', filename='NoRepeatBars.png')}}" class="figure-img img-fluid" style="width:60%; height:60%">
                </figure>
            </div>
            <div class="col-3 border">
                All measurements and calculated results MUST be expressed in decimal form.
            </div>
        </div> 
    </div></br>
    <h2 class = 'wrapper text-center mr-5'><u>Why?</u></h2>
    <div class="container-fluid">
        <div class="row justify-content-center wrapper text-center">
            <div class="col-3 border">
                1/2 cm = 0.5 cm?  NOPE! (video)
            </div>
            <div class="col-3 border">
                <figure class="figure">
                    <img src="{{url_for('static', filename='ThereIsADifference.png')}}" class="figure-img img-fluid">
                </figure>
            </div>
            <div class="col-3 border">
                There IS a difference...
            </div>
        </div></br>
        <div class="row justify-content-center wrapper text-center">
            <div class="col-3 border">
                No repeat bars video
            </div>
            <div class="col-3 border">
                Error/variance examples (image)
            </div>
            <div class="col-3 border">
                Big Ideas text
            </div>
        </div> 
    </div>
{% endblock %}