{% extends "roundingtutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2' style="color:blue"><u>Level 1 Examples</u>:</h2>
    <ul style="font-size:1.75vw" class="ml-2">
        <li>Remember, we get only ONE guess digit.  Let's practice how to round results to a smaller number of sig figs.</li><hr>
        <li>
            {% if displayText < 4 %}
                <span style="color:green"><u>Example #1</u> - </span>Follow the steps to round 12.38649 g to 5 sig figs.
            {% else %}
                <span style="color:green"><u>Example #1</u> - Good, now consider further rounding.  Click 'Check' to confirm your thinking.</span>
            {% endif %}
            {% if displayText < 4 %}
                <div class="container-fluid">
                    <div class="row justify-content-center wrapper text-center">
                        <div class="col-4 border embed-responsive embed-responsive-4by3">
                            <video controls src="{{url_for('static', filename='Level1Rounding.mov')}}"></video>
                        </div>
                        <div class="col-4 border wrapper text-left" style="color:green">
                            <u>Steps:</u>
                            <ol>
                                {% if displayText >= 1 %}
                                    <li style="color:blue">Identify the first 5 sig figs in the value.</li>
                                {% endif %}
                                {% if displayText >= 2 %}
                                    <li style="color:red">Look at the next digit in the number, and decide if it causes the "6" to round up or stay the same.</li>
                                {% endif %}
                                {% if displayText >= 3 %}
                                    <li>Round the value and cut off the extra digits. (Enter your answer in the box.)</li>
                                {% endif %}
                            </ol>
                        </div>
                        <div class="col-3 border" style="color:purple">
                            {% with messages = get_flashed_messages(with_categories=True) %} 
                            <form action="/roundingtutorial2" method="post">
                                {% if displayText == 1 %}
                                    <div>
                                        12.38649 g
                                    </div>
                                {% elif displayText == 2 %}
                                    <div>
                                        <span style="color:blue">12.386</span><u style="color:red">4</u>9 g
                                    </div>
                                {% elif displayText == 3 %}
                                    <span style="color:blue">12.386</span><u style="color:red">4</u>9 g
                                    <div class="form-inline form-group">
                                        <input class="form-control ml-5" name = "5SigFigs" id="5SigFigs" value="{{roundedAnswer}}"> g
                                        {% for category,message in messages %}
                                            <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div>
                                    {% if displayText < 3 %}
                                        <input class="btn btn-success btn-sm mb-2" type="submit" value="Next...">
                                        <input name="displayText" type="hidden" value="{{displayText}}">
                                        <input name="5SigFigs" type="hidden" value="{{roundedAnswer}}">
                                    {% elif displayText==3 %}
                                        <input class="btn-sm btn-danger" type="submit" value="Check">
                                        <input name="displayText" type="hidden" value="{{displayText}}">
                                    {% endif %}
                                </div>
                            </form>
                            {% endwith %}
                        </div>
                    </div> 
                </div>
            {% endif %}
            </br>
            {% if displayText >= 4 %}
                <div class="container wrapper text-center">
                    <table class="table table-bordered text-center" style="font-size:1.5vw">
                        <thead>
                            <tr>
                            <th scope="col">Original Value</th>
                            <th scope="col">5 sig figs</th>
                            <th scope="col">4 sig figs</th>
                            <th scope="col">3 sig figs</th>
                            <th scope="col">2 sig figs</th>
                            </tr>
                        </thead>
                        {% if displayText==4 %}
                            <tbody>
                                <tr>
                                <th scope="row">12.38649 g</th>
                                    <td style="color:blue">12.386 g</td>
                                    <td>---- g</td>
                                    <td>--- g</td>
                                    <td>-- g</td>
                                </tr>
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                <th scope="row">12.38649 g</th>
                                    <td style="color:blue">12.386 g</td>
                                    <td style="color:green">12.39 g</td>
                                    <td style="color:purple">12.4 g</td>
                                    <td style="color:red">12 g</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <div class="wrapper text-center">
                    <form action="/roundingtutorial2" method="post">
                        {% if displayText == 4 %}
                            <input class="btn btn-success btn-sm mb-2" type="submit" value="Check">
                            <input name="displayText" type="hidden" value="{{displayText}}">
                            <input name="5SigFigs" type="hidden" value="">
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </li><hr>
        {% if displayText >= 5 %}
            <li>
                <span style="color:purple"><u>Example #2</u> - </span>Round 0.0079781 g to the requested number of sig figs.
                <div class="container-fluid wrapper text-center">
                    {% with messages = get_flashed_messages(with_categories=True) %} 
                        <form action="/roundingtutorial2" method="post" class = "form-inline">
                            <table class="table table-bordered text-center" style="font-size:1.5vw">
                                <thead>
                                    <tr>
                                    <th scope="col">Original Value</th>
                                    <th scope="col">3 sig figs</th>
                                    <th scope="col">2 sig figs</th>
                                    <th scope="col">1 sig fig</th>
                                    <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <div class="form-group">
                                            <th scope="row">0.0079781 g</th>
                                                <td><input class="form-control" name = "3SigFigs" id="3SigFigs" value="{{answers[0]}}" style="width:125px; font-size:16pt"> g</td>
                                                <td><input class="form-control" name = "2SigFigs" id="2SigFigs" value="{{answers[1]}}" style="width:125px; font-size:16pt"> g</td>
                                                <td><input class="form-control" name = "1SigFigs" id="1SigFigs" value="{{answers[2]}}" style="width:125px; font-size:16pt"> g</td>
                                                {% if numCorrect < 3 %}
                                                    <td><input class="btn btn-success" type="submit" value="Check..."></td>
                                                {% else %}
                                                    <td><a class="btn btn-secondary mr-2" href="/roundingtutorial{{page+1}}" role="button">Next &raquo;</a></td>
                                                {% endif %}
                                                <input name="displayText" type="hidden" value="{{displayText}}">
                                                <input name="5SigFigs" type="hidden" value="">
                                        </div>
                                    </tr>
                                    <tr>
                                        <div>
                                            <th scope="row"></th>
                                            {% for category,message in messages %}
                                                <td>
                                                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                                                </td>
                                            {% endfor %}
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    {% endwith %}
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}