{% extends "roundingtutorialbase.html" %}

{% block content %}
    <h2 class = 'ml-3'><u>Common Mistakes</u>:</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h3 class="mb-0" style="color:green">
                    A) "Overrounding"
                    <button style="font-size:16pt" class="btn btn-outline-success collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How to avoid this...
                    </button>
                </h3>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row wrapper text-center">
                            <div class="col-4 border embed-responsive embed-responsive-16by9">
                                <video controls src="{{url_for('static', filename='Overrounding.mov')}}"></video>
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='OverroundingImage.png')}}" class="figure-img img-fluid" style="width:90%; height:90%">
                                </figure>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h3 class="mb-0" style="color:blue">
                        B) Counting preceeding zeros
                    <button style="font-size:16pt" class="btn btn-outline-primary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Explore...
                    </button>
                </h3>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row wrapper text-center">
                            <div class="col-4 border-right embed-responsive embed-responsive-16by9">
                                <video controls src="{{url_for('static', filename='Preceding0s.mov')}}"></video>
                            </div>
                            <div class="col-6 wrapper text-center align-self-center">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='Preceding0s.png')}}" class="figure-img img-fluid">
                                </figure>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h3 class="mb-0" style="color:red">
                        C) The ".0" effect
                    <button style="font-size:16pt" class="btn btn-outline-danger collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Explore...
                    </button>
                </h3>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row wrapper text-center">
                            <div class="col-4 border-right">
                                Video goes here...
                            </div>
                            <div class="col-6">
                                <figure class="figure">
                                    <img src="{{url_for('static', filename='PointZeroImage.png')}}" class="figure-img img-fluid" style="width:90%; height:90%">
                                </figure>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="wrapper text-left ml-3">
        <h3 style="color:brown">
            <u>Now take the next step</u>:
            <a class="btn btn-success ml-2" href="/roundingsf" role="button">Practice Rounding to Sig Figs</a>
        </h3>
    </div>
{% endblock %}