{% extends "roundingtutorialbase.html" %}

{% block content %}
    <div class="container-fluid card border-0">
        <div class="wrapper text-center card-header" id="headingOne">
            <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 style="color:brown"><u>Ground Rules (Click to reveal)</u>:</h2>
            </button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    <figure class="figure">
                        <img src="{{url_for('static', filename='NoFractions.png')}}" class="figure-img img-fluid" style="width:50%; height:50%">
                    </figure>
                </div>
                <div class="col-3 border">
                    <figure class="figure">
                        <img src="{{url_for('static', filename='NoRepeatBars.png')}}" class="figure-img img-fluid" style="width:60%; height:60%">
                    </figure>
                </div>
                <div class="col-3 border">
                    <p style="font-size:2vw">All measurements and calculated results MUST be expressed in decimal form with a LIMITED number of sig figs.</p>
                </div>
            </div>
        </div> 
    </div><br/>

    <div class="container-fluid card border-0">
        <div class="wrapper text-center card-header" id="headingTwo">
            <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h2 style="color:green"><u>Why?</u></h2>
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    <div class="embed-responsive embed-responsive-4by3">
                        <video controls src="{{url_for('static', filename='WhyNoFractions.mov')}}"></video>
                    </div>
                </div>
                <div class="col-3 border">
                    <p style="font-size:2vw">There IS a difference...</p>
                    <figure class="figure">
                        <img src="{{url_for('static', filename='ThereIsADifference.png')}}" class="figure-img img-fluid">
                    </figure>
                </div>
                <div class="col-4 border">
                    <p style="font-size:2vw; color:blue;">Fractions do not provide information about the tool used or about which digit is the "guess".</p>
                    <p style="font-size:2vw; color:brown;">NO FRACTIONS!!!!!  (They do not show sig figs).</p>
                </div>
            </div><br/>
            <div class="row justify-content-center wrapper text-center">
                <div class="col-3 border">
                    <div class="embed-responsive embed-responsive-4by3">
                        <video controls src="{{url_for('static', filename='NoRepeatBars.mov')}}"></video>
                    </div>
                </div>
                <div class="col-3 border">
                    <p style="font-size:2vw"><u>You get ONE guess digit</u></p>
                    <figure class="figure">
                        <img src="{{url_for('static', filename='NoRepeatBarsImage.png')}}" class="figure-img img-fluid">
                    </figure>
                </div>
                <div class="col-4 border">
                    <p style="font-size:2vw; color:blue;">Repeat bars ignore errors in the data.  They imply 'perfect' numbers, which is impossible with measured values.</p>
                    <p style="font-size:2vw; color:brown;">NO REPEAT BARS!!!!!  (We cannot predict past the guess digit).</p>
                </div>
            </div>
        </div>
    </div><br/><br/>
{% endblock %}