{% extends "roundingtutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2' style="color:blue"><u>Level 1 Examples</u>:</h2>
    <ul style="font-size:1.75vw" class="ml-2">
        <li>Intro text</li><hr>
        <li>
            {% if displayText < 4 %}
                <span style="color:green"><u>Example #1</u>: </span>Follow the steps to round 12.38649 g to 5 sig figs.
            {% else %}
            <span style="color:green"><u>Example #1</u>: </span>Good, now consider further rounding.  Click 'Check' to confirm your thinking.
            {% endif %}
            {% if displayText < 4 %}
                <div class="container-fluid">
                    <div class="row justify-content-center wrapper text-center">
                        <div class="col-4 border">
                            Rouding video tutorial.
                        </div>
                        <div class="col-4 border wrapper text-left" style="color:green">
                            <u>Steps:</u>
                            <ol>
                                {% if displayText >= 1 %}
                                    <li>Identify the first 5 sig figs in the value.</li>
                                {% endif %}
                                {% if displayText >= 2 %}
                                    <li>Look at the next digit in the number, and decide if it causes the "6" to round up or stay the same.</li>
                                {% endif %}
                                {% if displayText >= 3 %}
                                    <li>Round (if needed) and cut off the extra digits. (Enter the rounded value in the box.)</li>
                                {% endif %}
                            </ol>
                        </div>
                        <div class="col-3 border" style="color:purple">
                            {% with messages = get_flashed_messages(with_categories=True) %} 
                            <form action="/roundingtutorial2" method="post">
                                {% if displayText == 1 %}
                                    <div>
                                        12.38649
                                    </div>
                                {% elif displayText == 2 %}
                                    <div>
                                        <span style="color:blue">12.386</span><u style="color:red">4</u>9
                                    </div>
                                {% elif displayText == 3 %}
                                    <div>
                                        <span style="color:blue">12.386</span><u style="color:red">4</u>9
                                        <input class="form-control" name = "5SigFigs" id="5SigFigs" value={{roundedAnswer}}>
                                        {% for category,message in messages %}
                                            <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div>
                                    {% if displayText < 3 %}
                                        <input class="btn btn-success btn-sm mb-2" type="submit" value="Next...">
                                        <input name="displayText" type="hidden" value="{{displayText}}">
                                        <input name="5SigFigs" type="hidden" value="{{roundedAnswer}}">
                                    {% elif displayText==3 %}
                                        <input class="btn-sm btn-danger" type="submit" value="Check">
                                        <input name="displayText" type="hidden" value="{{displayText}}">
                                    {% endif %}
                                </div>
                            </form>
                            {% endwith %}
                        </div>
                    </div> 
                </div>
            {% endif %}
            </br>
            {% if displayText >= 4 %}
                <div class="container wrapper text-center">
                    <table class="table table-bordered text-center" style="font-size:1.5vw">
                        <thead>
                            <tr>
                            <th scope="col">Original Value</th>
                            <th scope="col">5 sig figs</th>
                            <th scope="col">4 sig figs</th>
                            <th scope="col">3 sig figs</th>
                            <th scope="col">2 sig figs</th>
                            </tr>
                        </thead>
                        {% if displayText==4 %}
                            <tbody>
                                <tr>
                                <th scope="row">12.38649 g</th>
                                    <td style="color:blue">12.386 g</td>
                                    <td>---- g</td>
                                    <td>--- g</td>
                                    <td>-- g</td>
                                </tr>
                            </tbody>
                        {% else %}
                            <tbody>
                                <tr>
                                <th scope="row">12.38649 g</th>
                                    <td style="color:blue">12.386 g</td>
                                    <td style="color:green">12.39 g</td>
                                    <td style="color:purple">12.4 g</td>
                                    <td style="color:red">12 g</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <div class="wrapper text-center">
                    <form action="/roundingtutorial2" method="post">
                        {% if displayText == 4 %}
                            <input class="btn btn-success btn-sm mb-2" type="submit" value="Check">
                            <input name="displayText" type="hidden" value="{{displayText}}">
                            <input name="5SigFigs" type="hidden" value="">
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </li><hr>
        {% if displayText >= 5 %}
            <li>
                Example #2: [PROMPT] + "Try" button
                <div class="container-fluid wrapper text-center">
                    <form action="/roundingtutorial2" method="post" class = "form-inline">
                        <table class="table table-bordered text-center" style="font-size:1.5vw">
                            <thead>
                                <tr>
                                <th scope="col">Original Value</th>
                                <th scope="col">3 sig figs</th>
                                <th scope="col">2 sig figs</th>
                                <th scope="col">1 sig fig</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div class="form-group">
                                        <th scope="row">0.0079781 g</th>
                                            <td><input class="form-control" name = "3SigFigs" id="3SigFigs" style="width:125px; font-size:16pt"> g</td>
                                            <td><input class="form-control" name = "2SigFigs" id="2SigFigs" style="width:125px; font-size:16pt"> g</td>
                                            <td><input class="form-control" name = "1SigFig" id="1SigFig" style="width:125px; font-size:16pt"> g</td>
                                            <td><input class="btn btn-success" type="submit" value="Check..."></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}