{% extends "scinottutorialbase.html" %}

{% block content %}
    <div class="container-fluid border-0" style="font-size:2vw">
        <div class="row justify-content-center wrapper text-center">
            <div class="col-4 border">
                <div class="border embed-responsive embed-responsive-16by9">
                    <video controls src="{{url_for('static', filename='SciNot1.mov')}}"></video>
                </div>
                <hr>
                <figure class="figure">
                    <img src="{{url_for('static', filename='TempImage.png')}}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption">Video showing how to convert small #'s into sci notation.</figcaption>
                </figure>
            </div>
            <div class="col-2 border">
                <figure class="figure">
                    <img src="{{url_for('static', filename='TryIt1.png')}}" class="figure-img img-fluid">
                </figure>
            </div>
            <div class="col-4 border wrapper text-center">
                {% with messages = get_flashed_messages(with_categories=True) %} 
                    <form action="/scinottutorial2" method="post">
                        <ul type="none" class="wrapper text-left mt-3 pl-1" style="font-size: 1.75vw">
                            {% for item in range(4) %}
                                <li>
                                    <label for "decimal{{item}}">{{values[item]}} = </label>
                                    <input name="decimal{{item}}" type="text" value="{{decimals[item]}}" size="3">
                                    <label for "exponent{{item}}">x10</label>
                                    <sup style="vertical-align: 1em"><input name="exponent{{item}}" type="text" value="{{exponents[item]}}" size="1"></sup></br>
                                </li>
                                {% if messages %}
                                    {% set message = messages[item] %}
                                    <span class='{{message[0]}}'>{{message[1]}}</span>
                                {% endif %}
                                <hr>
                                <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                                <input name="power{{item}}" type="hidden" value="{{powers[item]}}">
                                <input name="sciValue{{item}}" type="hidden" value="{{sciValues[item]}}">
                            {% endfor %}
                        </ul>
                        {% if numCorrect != 4 %}
                            <input class="btn btn-success mb-3" type="submit" value="Check">
                        {% else %}
                            <a class="btn btn-danger mr-2" href="/scinottutorial2" role="button">Refresh</a>
                            <a class="btn btn-secondary mr-2" href="/scinottutorial{{page+1}}" role="button">Next &raquo;</a>
                        {% endif %}
                    </form>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}