{% extends "scinottutorialbase.html" %}

{% block content %}
    <ul>
        <li>Sci not allows us to...</li>
        <li>You have seen...</li>
        <hr>
        <li>Quick review:</li>
    </ul>
    <div class="container">
        <form>
            <label>1500 = </label>
            [Input box] x 10^[Input box]
        </form>
    </div>
    <p class="wrapper text-center">Submit button</p>
    <hr>
    <div class="container-fluid wrapper text-center">
        <h3>(After submit...)</h3>
        <p>Student feedback & response</p>
        <p>However...</p>
        <ul>
            <li>1.5x10^3</li>
            <li>15x10^2</li>
            <li>150x10^1</li>
            <li>1500x10^0</li>
        </ul>
    </div>
    <hr>
    <ul>
        <li>Explanation...</li>
        <li>Explanation (cont.)</li>
        <li>Convention: </li>
    </ul>
{% endblock %}