{% extends "scinottutorialbase.html" %}

{% block content %}
    <div class="container-fluid border-0" style="font-size:2vw">
        <div class="row justify-content-center wrapper text-center">
            <div class="col-4 align-self-center">
                <div class="border embed-responsive embed-responsive-16by9">
                    <video controls src="{{url_for('static', filename='SciNot3.mov')}}"></video>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <figure class="figure">
                    <img src="{{url_for('static', filename='TryIt1.png')}}" class="figure-img img-fluid">
                </figure>
            </div>
            <div class="col-4 border wrapper text-center">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    <form action="/scinottutorial3" method="post">
                        <ul type="a" class="wrapper text-left mt-3" style="font-size: 1.75vw">
                            {% for item in range(4) %}
                            <li>
                                <label for="answer{{item}}">{{sciValues[item]}}x10<sup style="vertical-align: 0.5em">{{powers[item]}}</sup>= </label>
                                <input name="answer{{item}}" type="text" value="{{answers[item]}}" size="9"><br/>
                            </li>
                            {% if messages %}
                                {% set message = messages[item] %}
                                <span class='{{message[0]}}'>{{message[1]}}</span>
                            {% endif %}
                            <hr>
                            <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                            <input name="power{{item}}" type="hidden" value="{{powers[item]}}">
                            <input name="sciValue{{item}}" type="hidden" value="{{sciValues[item]}}">
                            {% endfor %}
                        </ul>
                        {% if numCorrect != 4 %}
                            <a class="btn btn-danger mr-2 mb-3" href="/scinottutorial3" role="button">Refresh</a>
                            <input class="btn btn-success mb-3" type="submit" value="Check">
                        {% else %}
                            <a class="btn btn-danger mr-2 mb-3" href="/scinottutorial3" role="button">New Practice Numbers</a>
                            <a class="btn btn-success mr-2 mb-3" href="/scinottutorial{{page+1}}" role="button">Wrap-Up</a>
                        {% endif %}
                    </form>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}