{% extends "sfcalcstutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2'><u>Intro text</u>:</h2>
    <hr>
    <div class = "container-fluid wrapper text-center">
        <div class="row justify-content-center wrapper text-center">
            <div class="col-5 border wrapper text-center" style="color:blue">
                Addition & subtraction video
            </div>
            <div class="col-5 border wrapper text-center" style="color:green">
                {% with messages = get_flashed_messages(with_categories=True) %} 
                    <form style="font-size:1.75vw" action="/sfcalcstutorial3" method="post">
                        <p>{{values[0]}}</p>
                        <p><u>+ {{values[1]}}</u></p>
                        <label for "answer0" style="font-size:1.75vw; color:black">Answer: </label>
                        <input name="answer0" type="text" value="{{answers[0]}}" style="font-size:1.75vw" size="9">
                        {% if messages %}
                            {% set message = messages[0] %}
                            <span class='{{message[0]}}'>{{message[1]}}</span>
                        {% endif %}
                        <hr>
                        <p>{{values[2]}}</p>
                        <p><u>- {{values[3]}}</u></p>
                        <label for "answer1" style="font-size:1.75vw; color:black">Answer: </label>
                        <input name="answer1" type="text" value="{{answers[1]}}" style="font-size:1.75vw" size="9">
                        {% if messages %}
                            {% set message = messages[1] %}
                            <span class='{{message[0]}}'>{{message[1]}}</span>
                        {% endif %}
                        <hr>
                        {% for item in range(4) %}
                            {% if item < 2 %}
                                <input name="result{{item}}" type="hidden" value="{{results[item]}}">
                            {% endif %}
                            <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                        {% endfor %}
                        <a class="btn btn-primary mb-2" href="sfcalcstutorial3" role="button">New Numbers</a>
                        {% if numCorrect < 2 %}
                            <input class="btn btn-success mb-2" type="submit" value="Check">
                        {% else %}
                            <a class="btn btn-info mb-2" href="/sfcalcstutorial{{page+1}}" role="button">Continue...</a>
                        {% endif %}
                    </form>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}