{% extends "sfcalcstutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2'><u>Intro text</u>:</h2>
    <hr>
    <div class = "container-fluid wrapper text-center">
        <div class="row justify-content-center">
            <div class="col-4 border wrapper text-center" style="color:blue">
                <figure class="figure">
                    <img src="{{url_for('static', filename='MeasExLen.png')}}" class="figure-img img-fluid" style="width:90%; height:90%">
                </figure>
            </div>
            <div class="col-4 border wrapper text-center" style="color:green">
                <figure class="figure">
                    <img src="{{url_for('static', filename='MeasExMass.png')}}" class="figure-img img-fluid" style="width:70%; height:70%">
                </figure>
            </div>
            <div class="col-4 border wrapper text-center" style="color:purple">
                <figure class="figure">
                    <img src="{{url_for('static', filename='MeasExVol.png')}}" class="figure-img img-fluid" style="width:70%; height:70%">
                </figure>
            </div>
        </div>
        <p style="color:red; font-size:1.75vw">Prompt to spur thinking + "Continue" button.</p>
        <div class="row justify-content-center wrapper text-center">
            <div class="col-5 border wrapper text-center">
                Division/multiplication examples...
            </div>
            <div class="col-5 border wrapper text-center">
                ...with potential answers.
            </div>
        </div>
        <br/>
        <div class="row justify-content-center wrapper text-center">
            <div class="col-5 border wrapper text-center">
                Addition/subtraction examples...
            </div>
            <div class="col-5 border wrapper text-center">
                ...with potential answers.
            </div>
        </div>
    </div>
    <p class="wrapper text-center" style="color:brown; font-size:1.75vw">Prompt to spur thinking + "Continue" button.</p>
{% endblock %}