{% extends "sfcalcstutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2' style="color:blue"><u>Multiplication and Division</u>:</h2>
    <div class = "container-fluid wrapper text-center">
        <div class="row justify-content-center">
            <div class="col-5 border-0 wrapper text-center align-self-center" style="color:blue">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src="{{url_for('static', filename='MultDiv.mov')}}"></video>
                </div>
            </div>
            <div class="col-6 border wrapper text-center align-self-center" style="color:brown">
                {% with messages = get_flashed_messages(with_categories=True) %} 
                    <form style="font-size:1.75vw" action="/sfcalcstutorial2" method="post">
                        <p>{{values[0]}}</p>
                        <p><u>x {{values[1]}}</u></p>
                        <label for="answer0" style="font-size:1.75vw; color:black">Answer: </label>
                        <input name="answer0" type="text" value="{{answers[0]}}" style="font-size:1.75vw" size="9"><br/>
                        {% if messages %}
                            {% set message = messages[0] %}
                            {% if message[0] != 'error' %}
                                <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                            {% else %}
                                <div class="btn-group dropright">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                        {{message[1]}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[0]}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <hr>
                        {% if flip %}
                            <p><u>{{values[3]}}</u></p>
                            <p>{{values[2]}}</p>
                            "Flipped"
                        {% else %}
                            <p><u>{{values[2]}}</u></p>
                            <p>{{values[3]}}</p>
                        {% endif %}
                        <label for="answer1" style="font-size:1.75vw; color:black">Answer: </label>
                        <input name="answer1" type="text" value="{{answers[1]}}" style="font-size:1.75vw" size="9"><br/>
                        {% if messages %}
                            {% set message = messages[1] %}
                            {% if message[0] != 'error' %}
                                <span class='{{message[0]}}' style="font-size:1.5vw">{{message[1]}}</span>
                            {% else %}
                                <div class="btn-group dropright">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14pt; color:red">
                                        {{message[1]}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <p class="dropdown-item" style="font-size:1.75vw; color:red">{{results[1]}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <hr>
                        {% for item in range(4) %}
                            {% if item < 2 %}
                                <input name="result{{item}}" type="hidden" value="{{results[item]}}">
                            {% endif %}
                            <input name="value{{item}}" type="hidden" value="{{values[item]}}">
                        {% endfor %}
                        <input name="flip" type="hidden" value="{{flip}}">
                        <a class="btn btn-primary mb-3" href="sfcalcstutorial2" role="button">New Numbers</a>
                        {% if numCorrect < 2 %}
                            <input class="btn btn-success mb-3" type="submit" value="Check">
                        {% else %}
                            <a class="btn btn-info mb-3" href="/sfcalcstutorial{{page+1}}" role="button">Continue...</a>
                        {% endif %}
                    </form>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}