{% extends "sfcalcstutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-left ml-2'><u>Intro text</u>:</h2>
    <div class = "container-fluid wrapper text-center">
        <div class="row justify-content-center">
            <div class="col-5 border wrapper text-center" style="color:blue">
                Multiplication & division video
            </div>
            <div class="col-5 border wrapper text-center" style="color:green">
                Example #1
                <hr>
                Example #2
                <hr>
                "Check" & "New Numbers" buttons
            </div>
        </div>
        <hr>
        <div class="row justify-content-center wrapper text-center">
            <div class="col-5 border wrapper text-center" style="color:blue">
                Addition & subtraction video
            </div>
            <div class="col-5 border wrapper text-center" style="color:green">
                Example #1
                <hr>
                Example #2
                <hr>
                "Check" & "New Numbers" buttons
            </div>
        </div>
    </div>
{% endblock %}