{% extends "sftutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-center mr-5'>What are <span style="color:blue">significant figures</span>, and why do we need them?</h2>
    <div class="container-fluid" style="height:500px">
        <div class="row justify-content-center">
            <div class="col-5">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header p-1" id="headingOne">
                            <h3 class="mb-0 text-center" style="color:blue"> 
                                <button style="font-size:18pt" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Define "Significant Figures" 
                                </button>
                            </h3>
                        </div>
                        {% if displayText == 1 %}
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video controls src="{{url_for('static', filename='DefOfSigFigs.mov')}}"></video>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <figure class="figure">
                                        <img src="{{url_for('static', filename='RulerExample.png')}}" class="figure-img img-fluid">
                                    </figure>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-header p-1" id="headingTwo">
                        <h3 class="mb-0 text-center" style="color:blue">
                            <button style="font-size:18pt; color:green" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Definition, second step
                            </button>
                        </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <figure class="figure">
                                <img src="{{url_for('static', filename='Example2.png')}}" class="figure-img img-fluid">
                            </figure>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-self-start col-6">
                <table class="table table-bordered text-center" style="font-size:1.5vw">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">Student A</th>
                        <th scope="col">Student B</th>
                        <th scope="col">Student C</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">Ruler #1</th>
                            <td>4.6 cm</td>
                            <td>4.7 cm</td>
                            <td>4.8 cm</td>
                        </tr>
                        <tr>
                        <th scope="row">Ruler #2</th>
                            <td>4.75 cm</td>
                            <td>4.76 cm</td>
                            <td>4.78 cm</td>
                        </tr>
                        {% if displayText == 1 %}
                            <tr>
                            <th scope="row">Ruler #3</th>
                                <td></td><td></td><td></td>
                            </tr>
                            <tr>
                            <th scope="row">Cylinder</th>
                                <td></td><td></td><td></td>
                            </tr>
                            <tr>
                            <th scope="row">Scale</th>
                                <td></td><td></td><td></td>
                            </tr>
                        {% else %}
                            <tr>
                            <th scope="row">Ruler #3</th>
                                <td>220 mm</td>
                                <td>230 mm</td>
                                <td>230 mm</td>
                            </tr>
                            <tr>
                            <th scope="row">Cylinder</th>
                                <td>1700 mL</td>
                                <td>1800 mL</td>
                                <td>1700 mL</td>
                            </tr>
                            <th scope="row">Scale</th>
                                <td>0.031 g</td>
                                <td>0.033 g</td>
                                <td>0.030 g</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid border border-info justify-content-between">
        <div class="row">
            <div class="col-10">
                <form action="/sftutorial1" method="post">
                    <ul style="font-size:18pt">
                        {% if displayText == 1 %}
                            <li>Watch the "Define Significant Figures" clip, and then click "More".</li>
                        {% endif %}
                        {% if displayText >= 2 %}
                            <li><u style="color:blue">Significant Figures</u> - The number of "certain" digits in a measurement PLUS the one "guess" digit.</li>
                        {% endif %}
                        {% if displayText >= 3 %}
                            <li><u style="color:purple">Be careful!</u> Not every digit is significant.</li>
                        {% endif %}
                        {% if displayText < 3 %}
                            <input class="btn-sm btn-success" type="submit" value="More...">
                            <input name="displayText" type="hidden" value="{{displayText}}">
                        {% endif %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}