{% extends "sftutorialbase.html" %}

{% block content %}
    <h2 class = 'wrapper text-center mr-5'>How do we identify the number of <span style="color:blue">significant figures</span> in a measurement?</h2>
    <ul>
        <li style="font-size: 18pt"><u>First Rule</u>: <span style="color:blue">All non-zero digits are significant.</span></li>
        <div class="container col row justify-content-start ml-3" style="width:500px">
            <li style="font-size: 14pt">
                <div class="row justify-content-start text-center">
                    <div class="col"><u>Examples</u>:</div>
                    <div class="col">12 g</div>
                    <div class="col">43.7 mL</div>
                    <div class="col">5.327 m</div>
                    <div class="w-100"></div>
                    <div class="col"></div>
                    <div class="col" style="color:blue">2 sig figs</div>
                    <div class="col" style="color:blue">3 sig figs</div>
                    <div class="col" style="color:blue">4 sig figs</div>
                </div>
            </li>
        </div>
    </ul></br>
    <ul>
        <li style="font-size: 18pt"><u>Second Rule</u>: Examine the values below.  The <mark class="alert-sm alert-success">highlighted</mark> zeros are considered 'significant'.</li>
    </ul>
    <figure class="figure">
        <img src="{{url_for('static', filename='1st0example.png')}}" class="figure-img img-fluid ml-4" style="width:70%; height:70%">
    </figure>
    <p class = "ml-4" style="font-size: 18pt; color:purple"><u>Explain</u>: What makes the highlighted zeros significant?</p>
    {% with messages = get_flashed_messages(with_categories=True) %} 
        {% if not secondHalf %}
            <form action="/sftutorial2" method="post">
                <div class="form-group">
                    <input class="form-control ml-4" name = "firstZeroRule" id="firstZeroRule" rows="2" style="width:800px" placeholder="The zeros..." value="{{answer}}">
                {% for category,message in messages %}
                    <span class='{{category}}' style="font-size: 14pt">{{message}}</span>
                {% endfor %}
                </div>
                <span class="container"><input class="btn btn-success" type="submit" value="Submit"></span>
            </form>
        {% endif %}
    {% endwith %}
    {% if secondHalf %}
        <div class="container justify-content-between ml-3">
            <div class="row">
                <div class="col-5">
                    <ul>
                        <li style="font-size: 18pt"><u>Your Suggestion</u>: {{answer}}</li>
                        <ul>
                            <li style="font-size: 16pt">Common Response #1.</li>
                            <li style="font-size: 16pt">Common Response #2.</li>
                            <li style="font-size: 16pt">Common Response #3.</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-7 wrapper text-center">
                    <h3>How well does your answer match the other students' ideas?</h3>
                    <a class="btn btn-success" href="/sftutorial3" role="button">Good</a>
                    <a class="btn btn-danger ml-3" href="/sftutorial2" role="button">Try again</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}