{% extends "base.html" %}

{% block content %}
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-5" role="group">
            <a class="btn btn-primary" href="/" role="button">Main Menu</a>
        </div>
        <div class = 'wrapper text-center'>
            <h1><u>Counting Significant Figures (page 1 of 5)</u></h1>
            <h2>What are significant figures, and why do we need them?</h2>
        </div>
        <div class="btn-group mr-5" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary">Back</button>
                <button type="button" class="btn btn-secondary">Next</button>
            </div>
        </div>
    </div>
{% endblock %}